h1{
    color:red,green;
}
.box1{
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(255,0,0),green);
}
.box2{
    width: 400px;
    height: 400px;
    background: linear-gradient( to left, rgba(255,0,0),green);
}
.box3{
    width: 400px;
    height: 400px;
    background: linear-gradient( to right, rgba(255,0,0),green);
}
.box4{
    width: 400px;
    height: 400px;
    background: linear-gradient( 45deg, rgba(255,0,0),green);
}
.box5{
    width: 400px;
    height: 400px;
    background: radial-gradient( rgba(255,0,0), 25%,green,150%, blue);
}